#theDudesHeaderImg {
    height: 100px;
    margin: 0 auto;
}

@keyframes poop-dance {
    from,
    49% {
        transform-origin: -50% 100%;
    }
    50%,
    75%,
    to {
        transform-origin: 150% 100%;
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

#theDudesHeaderImg:hover {
    animation: poop-dance .8s infinite alternate ease-in-out;
}
