#movieTableContainer {
    margin: 0 auto;
    display: table;
    #movieTable {
        th {
            padding: 0px 10px;
        }
        tr.mat-row {
            td {
                padding: 0px 10px;
                overflow: hidden;
                button {
                    padding: 0 5px;
                    min-width: 20px;
                    left: 35px;
                    -webkit-transition: all 0.25s;
                    /* Safari */
                    transition: all 0.25s;
                    mat-icon {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    #noMovieText {
        text-align: center;
    }
    #btnContainer {
        text-align: center;
        #addMovieBtn,
        #pickMyMovieBtn {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

.mat-table .mat-row:hover {
    background: rgba(0, 0, 0, 0.04);
    td {
        button {
            left: 0 !important;
        }
    }
}