<div id="movieTableContainer">
	<table id="movieTable" mat-table [dataSource]="movieList" class="mat-elevation-z4">
		<!-- COLUMNS -->
		<ng-container matColumnDef="title">
			<th mat-header-cell *matHeaderCellDef> Title </th>
			<td mat-cell *matCellDef="let movie"> {{ movie.title }} </td>
		</ng-container>

		<ng-container matColumnDef="releaseDate">
			<th mat-header-cell *matHeaderCellDef> Release Date </th>
			<td mat-cell *matCellDef="let movie"> {{ movie.releaseDate | date }} </td>
		</ng-container>

		<ng-container matColumnDef="genre">
			<th mat-header-cell *matHeaderCellDef> Genre </th>
			<td mat-cell *matCellDef="let movie"> {{ Genre[movie.genre] }} </td>
		</ng-container>

		<ng-container matColumnDef="advocate">
			<th mat-header-cell *matHeaderCellDef> Advocate </th>
			<td mat-cell *matCellDef="let movie"> {{ movie.advocateId }} </td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef> </th>
			<td mat-cell *matCellDef="let movie">
				<button mat-button id="removeBtn{{movie.id}}" attr.aria-labelledby="remove {{movie.title}}" (click)="onRemoveMovieBtnClicked(movie.id)">
					<mat-icon color="warn">delete_outline</mat-icon>
				</button>
			</td>
		</ng-container>

		<!-- ROWS -->
		<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		<tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
	</table>
	<br>
	<div id="btnContainer">
		<button id="addMovieBtn" mat-raised-button (click)="onAddMovieBtnClicked()">Add Movie</button>
		<button id="pickMyMovieBtn" color="primary" mat-raised-button (click)="randomlySelectMovie()">Pick My Movie!</button>
	</div>
</div>