<h1 mat-dialog-title>Add Movie</h1>
<div mat-dialog-content>
	<p class="mat-body-strong">Title</p>
	<mat-form-field>
		<input id="movieTitleInput" tab-index="0" matInput [(ngModel)]="data.title">
	</mat-form-field>
	<p class="mat-body-strong">Release Date</p>
	<mat-form-field>
		<input id="movieReleaseDateInput" matInput [(ngModel)]="data.releaseDate">
	</mat-form-field>
	<p class="mat-body-strong">Genre</p>
	<mat-form-field>
		<input id="movieGenreInput" matInput [(ngModel)]="data.genre">
	</mat-form-field>
	<p class="mat-body-strong">Advocate</p>
	<mat-form-field>
		<input id="movieAdvocateInput" matInput [(ngModel)]="data.advocate">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-raised-button (click)="onCancel()">Cancel</button>
	<button mat-raised-button [mat-dialog-close]="data">Submit</button>
</div>