<h1 mat-dialog-title>Add Movie</h1>
<div mat-dialog-content>
	<p class="mat-body-strong">Title</p>
	<mat-form-field>
		<input id="movieTitleInput" tab-index="0" matInput [(ngModel)]="data.title">
	</mat-form-field>
	<p class="mat-body-strong">Release Date</p>
	<mat-form-field>
		<input id="releaseDatePicker" matInput [max]="currentDate" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="data.releaseDate">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<p class="mat-body-strong">Genre</p>
	<mat-form-field>
		<mat-select placeholder="Choose a genre">
			<mat-option *ngFor="let genre of genreList" [value]="genre">
				{{genre}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<p class="mat-body-strong">Advocate</p>
	<mat-form-field>
		<input id="movieAdvocateInput" matInput [(ngModel)]="data.advocateId">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-raised-button color="primary" [mat-dialog-close]="data">Submit</button>
	<button mat-raised-button (click)="onCancel()">Cancel</button>
</div>